@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcasts";
}

<!--Podcast Page-->
<br /><br />
<h1 style="text-align:left">Check out my podcasts!</h1>
<br />
<br />
<!--Link to podcasts-->
<div class="target">
    <h1><a href="https://baconsale.com/" target="_blank">Click Here!</a></h1>
</div>